

<% if session[:user_id] %>
  <h2>Hello <%= @user.username %>!</h2>
  <h3>Email: <%= @user.email %></h3>
  <h3>Welcome Back to the University Review Forum!</h3>

  <br/>
<h3> Top 3 Highest-Scoring Universities </h3>

<% @universities.each do |university| %>
    <h4>
    Name: <%=  university.name %><br>
    Zip Code: <%=  university.address %><br>
    Score: 
    <% if university.reviews.size == 0 %>
        To Be Scored
    <% else %>
        <%= university.average_score %>
    <% end %><br>
    <%= link_to "Click Here to See All Reviews", university_reviews_path(university.id) %>
    <%= link_to "Click Here to Add A Review", new_university_review_path(university.id) %>
    </h4>
<% end %>

<% else %>

<h2>Welcome to the University Review Forum!</h2>
<h3>Your Secret Weapon in the University Admissions Process!</h3>
<h3>Get Honest Reviews From Current Students and Alumni</h3>


<% end %>