<%= form_for(@review) do |f| %>
  <%= university_id_field(@review) %>
  <br>
  <label>Review title:</label><br>
  <%= f.text_field :title %><br>

  <label>Review Content</label><br>
  <%= f.text_area :content%><br>

  <label>Review Score</label><br>
  <%= f.text_area :score%><br>


  <%= f.submit %>
<% end %>
