<%= form_for @review, :url => university_review_path do |f| %>
  
    <br>
    <label>Review Title:</label><br>
    <%= f.text_field :title %><br>
  
    <label>Review Content</label><br>
    <%= f.text_area :content%><br>
  
    <label>Review Score</label><br>
    <%= f.text_area :score%><br>
  
  
    <%= f.submit %>
  <% end %>