<h2> <%=  @reviews.first.university.name %> Reviews</h2>

<% @reviews.each do |review| %>
  <div>
    <h3>Title: <%= review.title %></h3>
    <h3>by: <%= review.user.username %></h3>
    <p>Content: <%= review.content %></p>
    <p>Score: <%= review.score %></p>
  </div>
<% end %>
<%= link_to "Click Here to Add", new_university_review_path %>