<h3>University Reviews</h3>

<% @reviews.each do |review| %>
  <div>
    <h2>Title: <%= review.title %></h2>
    <h3>by: <%= review.user.username %></h3>
    <p>Content: <%= review.content %></p>
    <p>Score: <%= review.score %></p>
  </div>
<% end %>
<%= link_to "Click Here to Add", new_university_review_path %>