
<h2> <%= @reviews.first.university.name if @reviews.first %> Reviews </h2>
<%= link_to "Click Here to Add A New Review", new_university_review_path %>
<br/>
Review With Highest Rating: <%= @reviews.highest_rated_review.take.try(:title) %>, by <%= @reviews.highest_rated_review.take.try(:user).try(:username) %>
<br/>
Review With Lowest Rating: <%= @reviews.lowest_rated_review.take.try(:title) %>, by <%= @reviews.lowest_rated_review.take.try(:user).try(:username) %>

<% @reviews.each do |review| %>
  <div>
    <br> <b> Title: <%= review.title %></b>
    <br>by: <%= review.user.username %>
    <br> Content: <%= review.content %>
    <br> Score: <%= review.score %><br>
    <% if current_user.id == review.user_id %>
    <%= link_to "Edit Your Review", edit_university_review_path(review.university, review) %>
    <% end %>
  </div>
<% end %><p/>
