<h1>Title: <%= @review.title %></h1>
<p> for <%= link_to @review.university.name, university_path(@review.university) if @review.university %> (<%= link_to "Edit Post", edit_university_review_path(@review.university, @review) %>)</p>
<p>Content: <%= @review.content%> </p>
<p>Score: <%= @review.score%> </p>