<h2>University List</h3>


<% @universities.each do |university| %>
    <h4>
    Name: <%=  university.name %><br>
    Zip Code: <%=  university.address %><br>
    Score: 
    <% if university.reviews.size == 0 %>
        To Be Scored
    <% else %>
        <%= university.average_score %>
    <% end %><br>
    <%= link_to "Click Here to See All Reviews", university_reviews_path(university.id) %>
    <%= link_to "Click Here to Add A Review", new_university_review_path(university.id) %>
    </h4>
<% end %>

Don't see a University on this list?
<%= link_to "Click Here to Add One", new_university_path %>
