
<%= form_for(@university) do |f| %>
    <% if @university.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@university.errors.count, "error") %> prohibited this user from being saved:
      </h2>

      <ul>
      <% @university.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %></div>
    </div>

    <div class="form-group">
    <%= f.label "Zip Code" %><br>
    <%= f.text_field :address, class: "form-control" %></div>
  </div>


    <div class="actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %> 