<!DOCTYPE html>
<html>
  <head>
    <title>ReviewForum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="/">Welcome</a>
        </li>
        <li class="nav-item">
            <% if current_user.nil? %>
                <a class="nav-link" href="/users/new">Sign Up Here</a>
            <% else %>
                <%= current_user.username %>
            <% end %>                
        </li>
        <li class="nav-item">
            <% if current_user.nil? %>
                <a class="nav-link" href="/sessions/new">Log In Here</a>
            <% else %>
                <%= link_to "Universities", universities_path %>
            <% end %>   
        </li>
        <li class="nav-item">
            <% if current_user.nil? %>
                <a class="nav-link" href="/auth/facebook">Log in with Facebook!</a>
            <% else %>
                <%= link_to "Log Out", "/sessions", method: 'delete'%>
            <% end %>  
        </li>
    </ul>

    <%= yield %>
  </body>
</html>
