<!DOCTYPE html>
<html>
  <head>
    <title>ReviewForum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">University Review</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Welcome<span class="sr-only">(current)</span></a>
            
            <% if current_user.nil? %>
                    <a class="nav-item nav-link" href="/users/new">Sign Up Here</a>
            <% else %>
                <%= current_user.username %>
            <% end %>     
            
            <% if current_user.nil? %>
                <a class="nav-item nav-link" href="/sessions/new">Log In Here</a>
            <% else %>
                <%= link_to "Universities", universities_path %>
            <% end %>  

            <% if current_user.nil? %>
                <a class="nav-item nav-link" href="/auth/facebook">Log in with Facebook!</a>
            <% else %>
                <%= link_to "Log Out", "/sessions", method: 'delete'%>
            <% end %> 
        </div>
    </nav>

    <%= yield %>
  </body>
</html>
